div {
    width: 400px;
    height: 400px;
    float: right;
}   

img {
    width: 100%;
}   

h1 {
    font-style: Arial;
    font-size: 40px;
}

h2 {
    font-style: Arial;
    font-size: 30px;
    color: floralwhite;
}

a{
    font-style: Arial;
    font-size: 20px;
    text-decoration: none;
    color: blue;
    
}

nav{
 background-color: lemonchiffon;   
}

header{
    background-color: dimgray;
    text-align: center;
}

html{
    background-color: black;
}